<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=qds20963396.my3w.com;database =qds20963396_db;uid =qds20963396;pwd=13888437819;" providerName="SqlServer"/>
    <add name="SqlIteConnection" connectionString="DataSource=E:\MyProject\MyGit\VueApp\DataBaseTest\SQLite.Db" providerName="Sqlite"/>
    <add name="AlCon" connectionString="server=qds20963396.my3w.com;database =qds20963396_db;uid =qds20963396;pwd=13888437819;" providerName="SqlServer"/>
  </connectionStrings>
</configuration>
 