@{
    ViewBag.Title = "关于";
    Layout = null;
}
@using Y.Core.Web.Expression
@using Y.Core.Web
<div>
    <ul class="layui-nav layui-nav-tree" lay-filter="leftnav">
        <li class="layui-nav-item">
                <a href="/home">首页</a>
        </li>
        @{
          foreach (NavTree item in ViewBag.NavList)
          {
            @Html.NavTree(item);
          }
        }
    </ul>
</div>
<script>
    //初始化动态html
    element.init();
</script>
