<div class="layui-main">
    <div class="layui-tree">
        <ul class="layui-tree">
            <li>
                <h2  class="layui-elem-quote">新增笔记</h2>
            </li>
        </ul>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#test',
        data: {
            message: '这个是测试数据！',
            time: new Date()
        }
    })
</script>
