<div id="noteedit">
    <div id="addnote" style="float:left;width:100%;padding-left:10px;height:auto">
        <h2 class="layui-elem-quote">新增笔记</h2>
        <form class="layui-form" action="/home/AddContent" method="post">
            <p>标题：<input class="layui-input" lay-verify="required" autocomplete="off" name="titlename" type="text" v-model="titlename" placeholder="请输入标题"></p>
            <p>Code<textarea class="layui-textarea" lay-verify="required" name="contentvalue" v-model="contentvalue" placeholder="请输入内容"></textarea></p>
            <button class="layui-btn" lay-submit lay-filter="nodesubmit">提交</button>
            <button class="layui-btn" type="reset" lay-submit lay-filter="nodesubmit"></button>
        </form>
    </div>
    @*<div  style="float:left;width:45%;height:200px">
        <h2 class="layui-elem-quote">预览</h2>
        <p ><code>code</code></p>
        <pre  class="layui-code" lay-skin="notepad" lay-title="Code">{{contentvalue}}
      </pre>
    </div>*@
</div>
<script>
    layui.use(['layedit', 'layer','form'], function () {
        var layedit = layui.layedit, layer = layui.layer, form = layui.form(),
            $ = layui.jquery;

        form.on('submit(nodesubmit)', function (data) {
            var index = layer.open({
                type: 3,
                icon: 0,
                time:5000,
                content:'正在提交。。。'
            }
            );
            $.post('/home/AddContent', data.field, function (ref) {

            });
            form.reset();
            return false;
        })

        var app = new Vue({
            el: '#noteedit',
            data: {
                parentid: '0',
                typename: 'C#',
                titlename: '',
                contentvalue: ''
            },
            methods: {
                save: function () {
                    $.ajax({
                        type: 'post',
                        url: '/home/AddContent',
                        datatype: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(this.data),
                        success: function (json) {
                            layer.msg("保存成功！");
                        }
                    })
                }
            }
        });






    })
</script>
