
<div style="display: inline-block; width: 180px; height: 210px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
    <ul id="treemenu"></ul>
</div>

<script>
    layui.use(['tree','jquery', 'layer'], function () {
        var layer = layui.layer
            , $ = layui.jquery;
        var node;
        $.getJSON('/home/GetTree', function (data) {
            console.log(data);
            node = data;
        });
        layer.msg('当前节名称：' + node[0].name);
        layui.tree({
            elem: '#treemenu' //指定元素
            , target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
            , click: function (item) { //点击节点回调
                layer.msg('当前节名称：' + item.name + '<br>全部参数：' + JSON.stringify(item));
                console.log(item);
            }
            , nodes: node
        }
      )}
    )


</script>
