
@{
  ViewBag.Title = "login";
  Layout = "";
}
<h1>提示：@ViewBag.Message</h1>
@using (Html.BeginForm("Index", "login", FormMethod.Post,new {@class="layui-form",id="logfrm"}))
{
  <table class="layui-table">
    <thead>
        <tr>
          <th>name</th>
          <th>pwd</th>
          <th>code</th>
        </tr> 
    </thead>
      <tbody>
          <tr>
              <td><input class="layui-input-block" type="text" name="name" placeholder="请输入name" /></td>
              <td><input class="layui-input-block" type="text" name="pwd" placeholder="请输入name" /></td>
              <td>
                <input class="layui-input-block" type="text" name="code" placeholder="请输入验证码" />
                <img id="img" src="/LogIn/ValiCode"  onclick="this.src = '/LogIn/ValiCode?k=' + Math.random();" alt='点击更换验证码'  />
              </td>
          </tr>
          <tr>
              <td><input class="layui-input-block" type="text" name="name" placeholder="请输入name" /></td>
              <td><input class="layui-input-block" type="text" name="pwd" placeholder="请输入name" /></td>
              <td>
                <input class="layui-input-block" type="text" name="code" placeholder="请输入验证码" />
                <img id="img" src="/LogIn/ValiCode"  onclick="this.src = '/LogIn/ValiCode?k=' + Math.random();" alt='点击更换验证码'  />
              </td>
          </tr>
          <tr>
              <td><input class="layui-input-block" type="text" name="name" placeholder="请输入name" /></td>
              <td><input class="layui-input-block" type="text" name="pwd" placeholder="请输入name" /></td>
              <td>
                <input class="layui-input-block" type="text" name="code" placeholder="请输入验证码" />
                <img id="img" src="/LogIn/ValiCode"  onclick="this.src = '/LogIn/ValiCode?k=' + Math.random();" alt='点击更换验证码'  />
              </td>
          </tr>
          <tr>
              <td><input class="layui-input-block" type="text" name="name" placeholder="请输入name" /></td>
              <td><input class="layui-input-block" type="text" name="pwd" placeholder="请输入name" /></td>
              <td>
                <input class="layui-input-block" type="text" name="code" placeholder="请输入验证码" />
                <img id="img" src="/LogIn/ValiCode"  onclick="this.src = '/LogIn/ValiCode?k=' + Math.random();" alt='点击更换验证码'  />
              </td>
          </tr>
      </tbody>
  </table>
  <button class="layui-btn" lay-submit lay-filter="formsubmit">提交</button>
}
<input id="qal_medict_temp" class="queryautolist layui-input" width:100%" type="text"
       valueFieldName="name"
       textFieldName="name"
       showfields="name,dept"
       queryfields="name,dept"
       maxrowcount="10"
       callbacktype="ajax"
       ajaxUrl="login/loginlist"
       focusEvent=null
       selectevent=null
       focusshow="true"
       popWidth="35%"
       buttons="[{text:'q',value:'q'},{text:'w',value:'w'},{text:'e',value:'e'},{text:'r',value:'r'},{text:'t',value:'t'},{text:'y',value:'y'},{text:'u',value:'u'},{text:'i',value:'i'},{text:'o',value:'o'},{text:'p',value:'p'},{text:'<br>',value:''},{text:'a',value:'a'},{text:'s',value:'s'},{text:'d',value:'d'},{text:'f',value:'f'},{text:'g',value:'g'},{text:'h',value:'h'},{text:'j',value:'j'},{text:'k',value:'k'},{text:'l',value:'l'},{text:'<br>',value:''},{text:'z',value:'z'},{text:'x',value:'x'},{text:'c',value:'c'},{text:'v',value:'v'},{text:'b',value:'b'},{text:'n',value:'n'},{text:'m',value:'m'},{text:'空格',value:' '}]" 
       />
<div id="table"></div>

<script>
    var form = layui.form();
    var $ = layui.jquery;
    var layer = layui.layer;

    $("#qal_medict_temp").queryautolist('init'
        @*, {
        valueFildName: "name", textFieldName: "dept",
        queryFields: "name,dept",callbacktype='ajax',
        ajaxUrl:"@Url.Action("loginUser")"
        }*@
    );
    //监听提交
    form.on('submit(formsubmit)', function (data) {
        comconfim('确定要提交吗？','@Url.Action("login")', null);
        return false;
    });

  var config = {
    url:"@Url.Action("loginUser")",//获取数据的url
    data: [],//本地数据  不支持本地数据的分页
    queryParam: {'name':"ok",'dept':"okdept"},//查询参数
    page:true,//是否分页
    pageSize:5,//每页数量
    select:true,//是否生成checkbox

    columns: [ {//列数组
            text:'用户名',//显示的表头
            name: 'name',//显示的数据key
            width: 100,//宽度
            formatter: function (value, row, index) {//value 当前值  row 当前行数据  index 当前行索引
                return value + '哈哈';
            }
    }, {
            text:'科室',//显示的表头
            name: 'dept',//显示的数据key
            width: 100,//宽度
            click: function (ros) {
                console.log(ros);
            }
        }],
    method:"post",//请求方式
    toolbarClass:"layui-btn-small",//按钮的样式
    toolbar:[{//按钮数组
            text:"新增",//文字
            icon:"&#xe61f;",//按钮图标
            handle: function () {//绑定格式化函数
                layer.msg("点击了新增")
              }
            }, {//按钮数组
                text: "删除",//文字
                icon: "&#xe61f;",//按钮图标
                handle: function () {//绑定函数
                    var ids = $("#table").jfTable('getSelected');
                    console.log(ids);
                    var id = '';
                    $(ids).each(function (index, item) {
                        id += item.name;
                    });
                    layer.msg("删除" + id)
                }
        }],
    rowclick: function (row) {//行点击事件
        //layer.msg("点击了Row:" + row.index +  row);
    },
    //事件   一定要return
    onBeforeLoad: function (param) {
        return param;
    },
    onLoadSuccess: function (data) {
        return data;
    },
    dataFilter:function (data) {
        return data;
    }
}
    $("#table").jfTable(config);
</script>
